<div class="app">
    <h1>Angular2-Meteor (Angular Cli Server)</h1>
    <demo></demo>
    <button (click)="createUser()">Create User</button>
    <button (click)="createDemo()">Create Demo</button>
</div>
